<div class="qp-page profile-page">
  <div class="qp-page-header">
    <div>
      <h2 class="qp-page-title">My Profile</h2>
      <p class="qp-page-subtitle">Manage your account details</p>
    </div>
  </div>

  <div class="profile-layout">
    <!-- Identity card -->
    <aside class="qp-card identity-card">
      <div class="avatar-container">
        <div class="avatar-placeholder">
          <img *ngIf="userForm.value.profilePhoto" [src]="userForm.value.profilePhoto" alt="Profile photo" />
          <span *ngIf="!userForm.value.profilePhoto">{{ userInitials }}</span>
        </div>
        <label for="avatar-input-file" class="edit-icon" title="Change photo">
          <nz-icon nzType="edit" nzTheme="outline" />
        </label>
        <input type="file" id="avatar-input-file" (change)="onFileSelected($event)" accept="image/*" hidden />
      </div>

      <h3 class="identity-name">{{ firstName }} {{ lastName }}</h3>
      <p class="identity-email">{{ userForm.getRawValue().email }}</p>
      <p class="identity-hint">Tap the pencil to change your photo, then press Update.</p>
    </aside>

    <!-- Tabs -->
    <div class="qp-card form-card">
      <nz-tabset>
        <nz-tab nzTitle="User Profile">
          <form [formGroup]="userForm" nz-form nzLayout="vertical" class="tab-form">
            <div class="form-grid">
              <nz-form-item>
                <nz-form-label nzFor="email">Email</nz-form-label>
                <nz-form-control>
                  <input id="email" nzSize="large" nz-input formControlName="email" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="userName">Username</nz-form-label>
                <nz-form-control>
                  <input id="userName" nzSize="large" nz-input formControlName="userName" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="firstName">First Name</nz-form-label>
                <nz-form-control>
                  <input id="firstName" nzSize="large" nz-input formControlName="firstName" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="lastName">Last Name</nz-form-label>
                <nz-form-control>
                  <input id="lastName" nzSize="large" nz-input formControlName="lastName" />
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label nzFor="gender">Gender</nz-form-label>
                <nz-form-control>
                  <nz-select nzId="gender" nzSize="large" formControlName="gender" nzPlaceHolder="Select a gender">
                    <nz-option nzValue="male" nzLabel="Male"></nz-option>
                    <nz-option nzValue="female" nzLabel="Female"></nz-option>
                    <nz-option nzValue="other" nzLabel="Other"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div class="form-actions">
              <button class="qp-btn qp-btn-primary" type="button" (click)="updateUserProfile()">Update</button>
            </div>
          </form>
        </nz-tab>

        <nz-tab nzTitle="Change Password" *ngIf="isGoogleUser === 'false'">
          <form [formGroup]="passwordForm" nz-form nzLayout="vertical" class="tab-form password-form">
            <nz-form-item>
              <nz-form-label nzFor="oldPassword">Old Password</nz-form-label>
              <nz-form-control nzErrorTip="Please enter your current password!">
                <nz-input-group [nzSuffix]="suffixTemplate1" nzSize="large">
                  <input [type]="passwordVisible1 ? 'text' : 'password'" id="oldPassword" nz-input
                         formControlName="oldPassword" placeholder="Enter current password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="newPassword">New Password</nz-form-label>
              <nz-form-control nzErrorTip="Please enter a new password!">
                <nz-input-group [nzSuffix]="suffixTemplate2" nzSize="large">
                  <input [type]="passwordVisible2 ? 'text' : 'password'" id="newPassword" nz-input
                         formControlName="newPassword" placeholder="Enter new password" (input)="checkPasswordMatch()" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label nzFor="confirmPassword">Confirm New Password</nz-form-label>
              <nz-form-control nzErrorTip="Passwords do not match!" [nzValidateStatus]="passwordMismatch ? 'error' : ''">
                <nz-input-group [nzSuffix]="suffixTemplate3" nzSize="large">
                  <input [type]="passwordVisible3 ? 'text' : 'password'" id="confirmPassword" nz-input
                         formControlName="confirmPassword" placeholder="Confirm new password" (input)="checkPasswordMatch()" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <div class="form-actions">
              <button class="qp-btn qp-btn-primary" type="button" (click)="changePassword()" [disabled]="passwordMismatch">
                Change Password
              </button>
            </div>
          </form>
          <ng-template #suffixTemplate1>
            <nz-icon class="eye" [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'" (click)="passwordVisible1 = !passwordVisible1" />
          </ng-template>
          <ng-template #suffixTemplate2>
            <nz-icon class="eye" [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'" (click)="passwordVisible2 = !passwordVisible2" />
          </ng-template>
          <ng-template #suffixTemplate3>
            <nz-icon class="eye" [nzType]="passwordVisible3 ? 'eye-invisible' : 'eye'" (click)="passwordVisible3 = !passwordVisible3" />
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </div>
  </div>
</div>
