
      <div class="cardsdiv" style="height: 80vh;">
        <div class="firstcard">
            <div class="list-group list-group-flush account-settings-links">
              <div nz-row style="display: flex; text-align: center; justify-content: center;">
                <div nz-col>
                  <div class="avatar-container" style="margin-top: 15px; position: relative;">
                    <!-- Profile Photo or Placeholder -->
                    <div class="avatar-placeholder" 
                         style="width: 150px; height: 150px; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center; background: #ccc; font-size: 24px; font-weight: bold;">
                      
                      <img *ngIf="userForm.value.profilePhoto" [src]="userForm.value.profilePhoto" width="150" height="150" style="border-radius: 50%;object-fit: cover;" />
                      
                      <span *ngIf="!userForm.value.profilePhoto">{{ userInitials }}</span>
                    </div>
                    
                    <!-- Pencil Icon for Upload -->
                    <label for="avatar-input-file" class="edit-icon" style="position: absolute; bottom: 5px; right: 5px; cursor: pointer;background-color: #E0BC5E;border-radius: 50%;padding: 2px 5px;">
                      <span style="color: white;" nz-icon nzType="edit" nzTheme="outline"></span>
                    </label>
                    <input type="file" id="avatar-input-file" (change)="onFileSelected($event)" accept="image/*" hidden />
                  </div>
                </div>
              </div>
    
              <div style="margin-bottom: 20px;">
                <h6 style="font-size: 24px; text-align: center; font-weight: 700; margin-bottom: 0px; padding: 20px 0px;">
                  {{ firstName }} {{ lastName }}
                </h6>
              </div>
              </div>
              </div>
  
        <!-- Tabs Section -->
        <nz-tabset class="secondcard">
            <nz-tab nzTitle="User Profile" >
                  
                    <form [formGroup]="userForm"  nz-form [nzLayout]="'vertical'" >
                        <div style="display: flex;flex-direction: column;justify-content:space-between ;height: 100%;">
                      <div >
                        <!-- Email (Disabled) -->
                        <div class="inputs">
                            <div nz-col class="gutter-row" [nzSpan]="10">
                          <nz-form-item [class.disabled]="true">
                            <nz-form-label style="font-weight: 700;" nzFor="email">Email</nz-form-label>
                            <nz-form-control>
                              <input nzSize="large" nz-input formControlName="email"  />
                            </nz-form-control>
                          </nz-form-item>
                        </div>

                        <div nz-col class="gutter-row" [nzSpan]="10">
                            <nz-form-item>
                              <nz-form-label style="font-weight: 700;" nzFor="userName">Username</nz-form-label>
                              <nz-form-control>
                                <input  nzSize="large"nz-input formControlName="userName" />
                              </nz-form-control>
                            </nz-form-item>
                          </div>
                        </div>
              

                        <div class="inputs">
                        <!-- First Name (Disabled) -->
                        <div nz-col class="gutter-row" [nzSpan]="10">
                          <nz-form-item [class.disabled]="true">
                            <nz-form-label style="font-weight: 700;" nzFor="firstName">First Name</nz-form-label>
                            <nz-form-control>
                              <input   nzSize="large" nz-input formControlName="firstName"  />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
              
                        <!-- Last Name (Disabled) -->
                        <div nz-col class="gutter-row" [nzSpan]="10">
                          <nz-form-item [class.disabled]="true">
                            <nz-form-label style="font-weight: 700;" nzFor="lastName">Last Name</nz-form-label>
                            <nz-form-control>
                              <input   nzSize="large" nz-input formControlName="lastName"  />
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        </div>
              
                      
                     
                        <div class="inputs">
                        <!-- Gender (Editable) -->
                        <div nz-col class="gutter-row" [nzSpan]="10">

                          <nz-form-item>
                            <nz-form-label style="font-weight: 700;" nzFor="gender">Gender</nz-form-label>
                            <nz-form-control>
                              <nz-select   nzSize="large" formControlName="gender" nzPlaceHolder="Select a gender">
                                <nz-option nzValue="male" nzLabel="Male"></nz-option>
                                <nz-option nzValue="female" nzLabel="Female"></nz-option>
                                <nz-option nzValue="other" nzLabel="Other"></nz-option>
                              </nz-select>
                            </nz-form-control>
                          </nz-form-item>
                        </div>
                        <div nz-col class="gutter-row" [nzSpan]="10">

                          <nz-form-item>
                           
                          </nz-form-item>
                        </div>
                        </div>
              
                     
                      </div>
              
                    <div>
                        <div style="width: 100%;text-align: center;margin-top: 25px;">
                            <button  style="height: 40px;border-radius: 10px;width: 150px;" nz-button nzType="primary" (click)="updateUserProfile()">Update</button>
                          </div>
                    </div>
                </div>
                    </form>
                 
              </nz-tab>
              
  
              <nz-tab nzTitle="Change Password"  *ngIf="isGoogleUser === 'false'">
                <form [formGroup]="passwordForm" nz-form [nzLayout]="'vertical'">
                  <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%;">
                    <div style="padding: 0px 30px;">
                      <!-- Old Password -->
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please enter your current password!">
                          <nz-form-label style="font-weight: 700;" nzFor="oldPassword">Old Password</nz-form-label>
                          <nz-input-group [nzSuffix]="suffixTemplate1" nzSize="large">
                            <input nzSize="large" [type]="passwordVisible1 ? 'text' : 'password'" id="oldPassword" nz-input 
                                   formControlName="oldPassword" placeholder="Enter current password" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
              
                      <!-- New Password -->
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Please enter a new password!">
                          <nz-form-label style="font-weight: 700;" nzFor="newPassword">New Password</nz-form-label>
                          <nz-input-group [nzSuffix]="suffixTemplate2" nzSize="large">
                            <input nzSize="large" [type]="passwordVisible2 ? 'text' : 'password'" id="newPassword" nz-input 
                                   formControlName="newPassword" placeholder="Enter new password" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
              
                      <!-- Confirm New Password -->
                      <nz-form-item>
                        <nz-form-control nzErrorTip="Passwords do not match!" [nzValidateStatus]="passwordMismatch ? 'error' : 'success'">
                          <nz-form-label style="font-weight: 700;" nzFor="confirmPassword">Confirm New Password</nz-form-label>
                          <nz-input-group [nzSuffix]="suffixTemplate3" nzSize="large">
                            <input nzSize="large" [type]="passwordVisible3 ? 'text' : 'password'" id="confirmPassword" nz-input 
                                   formControlName="confirmPassword" placeholder="Confirm new password" (input)="checkPasswordMatch()" />
                          </nz-input-group>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
              
                    <div style="width: 100%; text-align: center;margin-top: 25px;">
                      <button style="height: 40px; border-radius: 10px; width: 150px;" nz-button nzType="primary" 
                              (click)="changePassword()" [disabled]="passwordMismatch">Change Password</button>
                    </div>
                  </div>
                </form>
                <ng-template #suffixTemplate1>
                    <i nz-icon [nzType]="passwordVisible1 ? 'eye-invisible' : 'eye'" (click)="passwordVisible1 = !passwordVisible1"></i>
                  </ng-template>
                  <ng-template #suffixTemplate2>
                    <i nz-icon [nzType]="passwordVisible2 ? 'eye-invisible' : 'eye'" (click)="passwordVisible2 = !passwordVisible2"></i>
                  </ng-template>
                  <ng-template #suffixTemplate3>
                    <i nz-icon [nzType]="passwordVisible3 ? 'eye-invisible' : 'eye'" (click)="passwordVisible3 = !passwordVisible3"></i>
                  </ng-template>
              </nz-tab>
              
  
              <nz-tab nzTitle="Change Address">
                <form [formGroup]="locationForm" nz-form [nzLayout]="'vertical'">


                  <div class="inputs">
                    <div nz-col class="gutter-row" [nzSpan]="10">
                      <nz-form-item>
                        <nz-form-label style="font-weight: 700;" nzFor="streetAddress">Street Address</nz-form-label>
                        <nz-form-control>
                          <input  nzSize="large" nz-input formControlName="streetAddress" id="streetAddress" placeholder="Enter Street Address" />
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="10">
                      <nz-form-item>
                        <nz-form-label style="font-weight: 700;" nzFor="country" nzRequired>Country</nz-form-label>
                        <nz-form-control nzErrorTip="Please select a country!">
                          <nz-select
                            id="country"
                            nzShowSearch
                            nzAllowClear
                            formControlName="country"
                            (ngModelChange)="onCountrySelected($event)"
                            nzPlaceHolder="Select a Country"
                            nzSize="large">
                            <nz-option *ngFor="let country of listCountry" [nzValue]="country.isoCode" [nzLabel]="country.name"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    </div>

                  <div class="inputs">
                    <div nz-col class="gutter-row" [nzSpan]="10">
                      <nz-form-item>
                        <nz-form-label style="font-weight: 700;" nzFor="state" nzRequired>State</nz-form-label>
                        <nz-form-control nzErrorTip="Please select a state!">
                          <nz-select
                            id="state"
                            nzShowSearch
                            nzAllowClear
                            [nzDisabled]="isStateDisabled"
                            formControlName="state"
                            (ngModelChange)="onStateSelected($event)"
                            nzPlaceHolder="Select a State"
                            nzSize="large">
                            <nz-option *ngFor="let state of listState" [nzValue]="state.isoCode" [nzLabel]="state.name"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col class="gutter-row" [nzSpan]="10">
                      <nz-form-item>
                        <nz-form-label style="font-weight: 700;" nzFor="city">City</nz-form-label>
                        <nz-form-control>
                          <nz-select
                            id="city"
                            nzShowSearch
                            nzAllowClear
                            [nzDisabled]="isCityDisabled"
                            formControlName="city"
                            nzPlaceHolder="Select a City"
                            nzSize="large">
                            <nz-option *ngFor="let city of listCity" [nzValue]="city.name" [nzLabel]="city.name"></nz-option>
                          </nz-select>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    </div>


                 
              
                  <div style="width: 100%; text-align: center; margin-top: 20px;margin-top: 25px;">
                    <button style="height: 40px; border-radius: 10px; width: 150px;" nz-button nzType="primary" (click)="updateAddress()">Update Address</button>
                  </div>
                </form>
              </nz-tab>
              
        
        </nz-tabset>
      </div>
