.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    border: 1px solid #ededef;
    height: fit-content;
  }

  .flex-column{
  text-align: start;
}


  @media (max-width: 700px) {
  .form {
     width: 90vw;
  }
}
  
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #E0BC5E;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #E0BC5E;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  .button-submit:disabled {
    background-color: #d3d3d3; /* Gray out */
    color: #a0a0a0; /* Light gray text */
    cursor: not-allowed;
    opacity: 0.6;
  }
  .btn google:disabled {
    background-color: #d3d3d3; /* Gray out */
    color: #a0a0a0; /* Light gray text */
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
   
  .otpContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
  }
  
  .otpInput {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .otpInput:focus {
    border: 1.5px solid #2d79f3;
    outline: none;
  }
  