.logo {
 width :250px;
  float: left;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.logo img{
  width: 250px;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}



nz-content {
  padding: 10px;
  border-radius: 10px;
  height: 80vh;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background:#fff;
  padding: 24px;
  min-height: 280px;
  border-radius: 10px;
  height: 88vh;


}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.756);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  align-items: center;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 70%;
  bottom: 0;
  left: 0;
  background-color: #E0BC5E;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  cursor: pointer;
}

.nav-item {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.756);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.nav-item.active {
  color: #E0BC5E; /* Change text color of active item */
}

.nav-item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #E0BC5E;
  bottom: -2px;
  left: 0;
}



@media screen and (max-width: 900px) {
.menulargeScreen{
  display: none;
}
}
@media screen and (min-width: 900px) {
  .menuMobile{
    display: none;
  }
}