<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="height: 70vh ;overflow-y: scroll;">
    <div class="quran-container">
        <div class="card main-card" routerLink="/quran/chapters">
          <img src="assets/images/QP 6.svg" alt="The Qur'an Project" />
          <h3>The Qur'an Project</h3>
        </div>
        <div class="card">
          <img src="assets/images/Rectangle 13.svg" alt="Scientific Miracles of the Quran" />
          <h3>Scientific Miracles of the Quran</h3>
        </div>
        <div class="card">
          <img src="assets/images/Rectangle 14.svg" alt="Preservation & Literary Challenges of the Quran" />
          <h3>Preservation & Literary Challenges of the Quran</h3>
        </div>
        <div class="card">
          <img src="assets/images/Rectangle 15.svg" alt="Miracles Performed" />
          <h3>Miracles Performed</h3>
        </div>
        <div class="card">
          <img src="assets/images/Rectangle 16.svg" alt="Short Guide To Ablution & Prayer" />
          <h3>Short Guide To Ablution & Prayer</h3>
        </div>
        <div class="card">
          <img src="assets/images/Rectangle 17.svg" alt="Women In Islam" />
          <h3>Women In Islam</h3>
        </div>
        <div class="card">
          <img src="assets/images/Rectangle 18.svg" alt="The Unique Quranic Generation" />
          <h3>The Unique Quranic Generation</h3>
        </div>
        <div class="card">
          <img src="assets/images/Rectangle 19.svg" alt="Short Biography: The Prophet Muhammad" />
          <h3>Short Biography: The Prophet Muhammad</h3>
        </div>
        <div class="card">
          <img src="assets/images/Rectangle 20.svg" alt="Old & New Testament Prophecies of Muhammad" />
          <h3>Old & New Testament Prophecies of Muhammad</h3>
        </div>
      </div>
</body>
</html>